/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-img{
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-repeat: repeat;
}


.bg2-img{
    background-image: url("assets/bg2.jpg");
    background-position: center;
    background-repeat: repeat;
}

